<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/118ef63a08.js" crossorigin="anonymous"></script>
        
        <link rel="stylesheet" href="css/styles.css">
        <title>Portfolio</title>
    </head>
    <body>
        <header class="cont-header">
            <nav id="navbar">
                <ul>
                    <li><a href="#welcome-section" class="link">About</a></li>
                    <li><a href="#projects" class="link">Works</a></li>
                    <li><a href="#social" class="link">Contact</a></li>
                </ul>
            </nav>
        </header>
        <main>
            
            <section id="welcome-section" class="cont-welcome">
                <div class="text-welcome">
                    <h1>Hola a todos Bienvenidos!</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta ullam sequi, consequatur rerum et illo cum, recusandae aliquam suscipit ad itaque ipsam! Enim odio mollitia fuga autem voluptatem rem modi!</p>
                </div>
            </section>
            <section id="projects" class="project-tile">
                <h2>Estos son mis proyectos</h2>
                
                <div class="container-cards">
                    <a href="#" class="links-card">
                        <div class="card-project">
                            <img src="https://cdn.pixabay.com/photo/2022/08/17/08/57/butterfly-7391954__340.jpg" alt="imagen1">
                            <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat, beatae.</p>
                        </div>
                    </a>
                    <template class="project-tile"></template>

                    <a href="#" class="links-card">
                        <div class="card-project">
                            <img src="https://cdn.pixabay.com/photo/2022/08/17/08/57/butterfly-7391954__340.jpg" alt="imagen1">
                            <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat, beatae.</p>
                        </div>
                    </a>


                    <a href="#" class="links-card">
                        <div class="card-project">
                            <img src="https://cdn.pixabay.com/photo/2022/08/17/08/57/butterfly-7391954__340.jpg" alt="imagen1">
                            <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat, beatae.</p>
                        </div>
                    </a>
                </div>
                
            </section>
        </main>

        <footer class="footer" id="social">
            <div class="links-social">
                <a href="https://github.com/Humber70" class="icon-gitHub" target="_blank" id="profile-link">
                    <span class="fa-brands fa-github icon"></span>
                </a>
                <a href="https://www.linkedin.com/in/humberto-arraya-386774155/" class="icon-gitHub" target="_blank">
                    <span class="fa-brands fa-linkedin icon"></sp>
                </a>
            </div>
        </footer>
    </body>
</html>